html, body {
  height: 100%; /* Required to set the full page height */
}
body {
  margin: 0; /* Required to remove extra buffer on the perimeter */
  font: 1em helvetica, sans-serif;
}
.square{
  background-color: aquamarine;
  width: 8em;
  height: 8em;
  transition: 
}

.square:hover{
  transform: rotate(90deg);
}
.d-block {
  display: block;
}

.w-100{
  width: 100%;
}
.accordionMenu {
  border: solid black;
  text-align: center;
}
.full {
  padding: 1em;
  min-height: 100%; /* Required for (at least) the full height */
  background-color: tomato;
}
  .full:nth-child(even) {
    /* Just here to alternate colours */
    background-color: teal;
  }
.carousel-item {
  width: 100%;
}
/* Everything other than line 2, 5 and 10 are not required */