html, body {
  height: 100%; /* Required to set the full page height */
}
body {
  margin: 0; /* Required to remove extra buffer on the perimeter */
  font-size: 1em;
}
h2{
  text-transform: uppercase;
  text-align: center;
}
.square{
  background-color: aquamarine;
  width: 8em;
  height: 8em;
  transform: rotate(0deg);
  transition: all 0.5s;
}

.spin{
  transform: rotate(90deg);
}

.nav_links li{
  text-align: center;
  display: inline-flex;
}

.nav_link_button button{
    vertical-align: top;
    background-color: rgb(241, 240, 240);
    width: 200px;
    padding: 10px;
    cursor: pointer;
    float: left;
    justify-content: space-around;
}
.carousel-photo{
  display: block;
  width: 100%;
}
.accordionMenu {
  border: solid black;
  text-align: center;
}
.full {
  padding: 1em;
  min-height: 100%; /* Required for (at least) the full height */
  background-color: rgb(235, 255, 255);
}
.full:nth-child(even) {
    /* Just here to alternate colours */
    background-color: rgb(241, 240, 240);
  }
.carousel-item {
  width: 1000px;
  height: 600px;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.prev-photo, .next-photo {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.5s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-shadow: #0000;
}
  .next-photo {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .extras li {
    display: inline-block;
    margin: 1em;
    position: sticky;
  }
.social img{
    padding: 0.25em;
    width: 3em;
}
/* Everything other than line 2, 5 and 10 are not required */