html, body {
  height: 100%; /* Required to set the full page height */
}
body {
  margin: 0; /* Required to remove extra buffer on the perimeter */
  font-size: 1em;
}
.page_nav_header, footer{
  background-color: rgb(248, 248, 248);
}
.page_nav_header h2{
  text-transform: uppercase;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 5px;
  word-spacing: 4px;;
  font-size: 3em;
  color: dimgray;
}
h2{
  text-transform: uppercase;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 2px;
  color: dimgray;
}
h3{
text-align: center;
font-family: 'Nunito Sans', sans-serif;
letter-spacing: 2px;
}
p{
  margin: 10em;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
}
.ldpage{
  width:100%;
}
.square{
  transform: rotate(0deg);
  transition: all 0.5s;
}
.spin{
  transform: rotate(2deg);
}
.nav_links li{
  text-align: center;
  display: inline-flex;
}
.nav_link_button button{
    background-color: white;
    width: 150px;
    padding: 10px;
    cursor: pointer;
    justify-content: space-around;
    margin-bottom: .5em;
}
.nav_link_button a{
  color: dimgray;
}
.nav_link_button a:hover{
  text-decoration: none;
  color: dimgray;
}

.panel {
  list-style: none;
  position: fixed;
	top: 1em;
	left: 1em;
	background-color: #eee;
	padding: 1em;
	box-shadow: 0 0 1em rgba(0,0,0,0.1);
}
.panel a:hover{
  text-decoration: none;
  color: dimgray;
}
.panel_item{
  color: dimgray;
}
.panel_faq{
  margin-left: 2em;
  color: dimgray;
}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.container img{
  width: 250px;
}
.box1, .box2, .box3{
  text-align: center;
}
.carousel-photo{
  display: block;
  width: 100%;
}
.faq_container ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

.faq_container{
  font-family:'Nunito Sans', sans-serif;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.acc_item{
  background-color: gainsboro;
  border-radius: .2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: .5rem 2px .5rem rgba(0,0,0,0.1);
}

.acc_link{
  font-size: 1.5rem;
  color: dimgray;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.acc_link:hover{
  text-decoration: none;
}
ion-icon{
  display: none;
}

.answer{
  max-height: 0;
  overflow: hidden;
  position: relative;
}

.answer::before{
  content: "";
  position: absolute;
  width: .6rem;
  height: 90%;
}

.answer p{
  margin: 0;
  text-align: left;
  transition: 650ms;
}

.acc_item:target .answer{
  max-height: 20rem;
}

.full {
  padding: 1em;
  min-height: 100%; /* Required for (at least) the full height */
  background-color: #f0fff3;
}
.full:nth-child(even) {
    /* Just here to alternate colours */
    background-color: rgb(248, 248, 248);
  }
.carousel-item {
  width: 1000px;
  height: 600px;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.prev-photo, .next-photo {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.5s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-shadow: #0000;
}
.next-photo {
    right: 0;
    border-radius: 3px 0 0 3px;
}
